absl-py==1.4.0
accelerate==0.22.0
aiohttp==3.8.5
aiosignal==1.3.1
annotated-types==0.5.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
auto-gptq==0.4.2
blis==0.7.10
cachetools==5.3.1
catalogue==2.0.9
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
cmake==3.27.4.1
colorama==0.4.6
coloredlogs==15.0.1
confection==0.1.2
contourpy==1.1.0
cycler==0.11.0
cymem==2.0.7
dataclasses-json==0.6.1
DataProperty==1.0.1
datasets==2.14.5
dill==0.3.7
einops==0.6.1
fire==0.5.0
flatbuffers==23.5.26
fonttools==4.42.1
frozenlist==1.4.0
fsspec==2023.6.0
fuzzywuzzy==0.18.0
gast==0.4.0
google-api-core==2.11.1
google-api-python-client==2.98.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.60.0
greenlet==2.0.2
grpcio==1.58.0
h5py==3.9.0
httplib2==0.22.0
huggingface-hub==0.16.4
humanfriendly==10.0
idna==3.4
Jinja2==3.1.2
joblib==1.3.2
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==2.4
keras==2.13.1
kiwisolver==1.4.5
langchain==0.0.302
langcodes==3.3.0
langsmith==0.0.40
Levenshtein==0.21.1
libclang==16.0.6
lit==16.0.6
lmql==0.0.6.6
loguru==0.7.1
lxml==4.9.3
Markdown==3.4.4
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.7.2
mbstrdecoder==1.1.3
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
murmurhash==1.0.9
mypy-extensions==1.0.0
networkx==3.1
nltk==3.8.1
numexpr==2.8.5
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
omegaconf==2.3.0
openai==0.28.0
opt-einsum==3.3.0
optimum==1.13.1
pandas==2.1.0
pathvalidate==3.1.0
pathy==0.10.2
peft==0.5.0
Pillow==10.0.0
portalocker==2.7.0
preshed==3.0.8
protobuf==4.24.2
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.11.1
pycountry==22.3.5
pyparsing==3.0.9
pytablewriter==1.0.0
python-dotenv==1.0.0
python-Levenshtein==0.21.1
pytorch-triton @ https://download.pytorch.org/whl/nightly/pytorch_triton-2.1.0%2Be6216047b8-cp310-cp310-linux_x86_64.whl
pytz==2023.3.post1
PyYAML==6.0.1
rapidfuzz==3.2.0
regex==2023.8.8
requests==2.31.0
requests-oauthlib==1.3.1
rouge==1.0.1
rouge-score==0.1.2
rsa==4.9
sacrebleu==1.5.0
safetensors==0.3.3
scikit-learn==1.3.0
scipy==1.11.2
seaborn==0.12.2
sentencepiece==0.1.99
smart-open==6.4.0
sniffio==1.3.0
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SQLAlchemy==2.0.21
sqlitedict==2.1.0
srsly==2.4.7
sympy==1.12
tabledata==1.3.1
tabulate==0.9.0
tcolorpy==0.1.3
tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.33.0
termcolor==2.3.0
tf-slim==1.1.0
thinc==8.1.12
threadpoolctl==3.2.0
tiktoken==0.5.1
tokenizers==0.13.3
torch @ https://download.pytorch.org/whl/nightly/cu121/torch-2.2.0.dev20230907%2Bcu121-cp310-cp310-linux_x86_64.whl
torchaudio @ https://download.pytorch.org/whl/nightly/cu121/torchaudio-2.2.0.dev20230907%2Bcu121-cp310-cp310-linux_x86_64.whl
torchvision @ https://download.pytorch.org/whl/nightly/cu121/torchvision-0.17.0.dev20230907%2Bcu121-cp310-cp310-linux_x86_64.whl
tqdm==4.66.1
tqdm-multiprocess==0.0.11
transformers==4.33.1
triton==2.1.0
trl==0.7.1
typepy==1.3.1
typer==0.9.0
typing-inspect==0.9.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.16
wasabi==1.1.2
Werkzeug==2.3.7
wrapt==1.15.0
xxhash==3.3.0
yarl==1.9.2
zstandard==0.21.0
